
@media only screen and (max-width: 1140px){
    .nav-list{
        flex-direction: column;
    }
    .navbar{
        flex-direction: column;
        transition: all 0.7s ease-out;
        height: 480px;
    }
    .rightnav{
        text-align: center;
    }
    #search{
        width: 100%;
    }
    .burger{
        display: block;
    }
    .h-nav-resp{
        height: 70px;
    }
    .v-class-resp{
        opacity: 0;
    }
    .box-main{
        flex-direction: column-reverse;
        width: 100%;
    }
    .section{
        flex-direction: column-reverse;
    }
.text-small{
    text-align: center;
}
.text-big{
    text-align: center;
}
.buttons{
    text-align: center;
}
.secondhalf img{
    width: 150%;
    text-align: center;
    padding: 25px 0;
border: 4px;
display: block;
margin: auto;

}
.paras{
    padding: 0px;
    text-align: center;

}
.button{
    margin: auto;
}
.logo{
    
    width: fit-content;
}
}