@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}

.logo{
 width: 15%;
 display: flex;
 justify-content: center;
align-items: center; 
margin: 3px;   
}
.logo img{
    width: 38%;
    border: 2px solid #fff;
    border-radius: 30px;
    height: 50px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
  
}
.nav-list{
 
width: 70%;
display: flex;
align-items: center;


}

.nav-list li{
    
    list-style: none;
    padding: 26px 30px;
}

.nav-list li a{
    text-decoration: none;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;

}

.nav-list li a:hover{
    text-decoration: none;
    color: rgb(220, 220, 209);
}
.rightnav{
    width: 30%;
    text-align: right;
    padding: 0 23px;

}
#search{
    padding: 5px;
    font-size: 17px;
    border: 2px solid rgb(125, 123, 123);
    border-radius: 9px;
}
.background{
    background: rgba(0, 0, 0, 0.5) url("https://wallpaper.dog/large/11015463.jpg");
    background-size: cover;
    background-blend-mode: darken;
}
.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    
    font-family: 'Ubuntu', sans-serif;
    max-width: 60%;
    margin: auto;
    height: 90%;
   
}
.firstSection{
    height: 100vh;
    
}
.firsthalf{
width: 80%;
display: flex;
justify-content: center;
flex-direction: column;
}
.secondhalf img{
width: 90%;
padding: 10px 0;
border: 4px;
display: block;
margin: auto;
border-radius: 150px;
height: 50%;
margin-left: 60px;
}
.secondhalf{
    width: 30%;
}
.text-big{
font-size: 36px;


}
.text-small{
    font-size: 18px;
}
.btn{
    padding: 8px 20px;
    margin: 7px 3px;
    border: 2px solid #fff;
    border-radius: 8px;
    background: none;
    color: #fff;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
}
.btn a{
    display: block;
    text-decoration: none;
    color: #fff;
}
.btn-sm{
    padding: 6px 10px;
    vertical-align: middle;
    font-size: 16px;
}
.left{
    flex-direction: row-reverse;
}

.section{
    /* height: 400px; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    font-family: 'Ubuntu', sans-serif;
    padding: 18px;
}
.paras{
    padding: 0 65px;
}
.sectionSubTag{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
   
}
.thumbnail img{
    width: 200px;
    margin-left: 50px;
    border: 2px solid #000;
    border-radius: 26px;
    margin-top: 5px;
}
.contact{
    background-color: rgb(246, 245, 245);
    height: 100vh;
}
.text-center{
    text-align: center;
    padding-top: 20px;
    font-family:'Ubuntu', sans-serif ;
    font-size: 35px;
}
.form{
    max-width: 62%;
    margin: 25px auto;
}
.form-input{
    width: 100%;
    padding: 5px 13px;
    font-size: 20px;
    border: 2px solid grey;
    border-radius: 5px;
    margin: 13px 0;
    font-family: 'Ubuntu', sans-serif;
}
.btn-dark{
color: #000;
border: 2px solid rgb(130, 129, 129);

}
.text-footer{
    text-align: center;
    padding: 30px 0;
    font-family:'Ubuntu', sans-serif ;   
    display: flex;
    justify-content: center;
    color: #fff;
    height: 20px;
}
.burger{
    display: none;
position: absolute;
cursor: pointer;
right: 5%;
top: 15px;
}
.line{
    width: 30px;
    background-color: #fff;
    margin: 3px 3px;
    height: 4px;
}

